{% extends 'content.html.twig' %}

{% block title %}
    Welcome Panier
{% endblock%}

{% block body %}
    <div class="container">
        <div class="" style="width:100%;float:left">
            <h1>STOCK ACTUEL</h1>
            <div class="" style="width:100%;float:left">
                <table class="table table-striped">
                    <th>Nom du produit</th><th>Famille</th><th>Quantité</th>
                {% for item in stock %}
                    <tr>
                        {% if item.produit.famille is null %}
                            <td></td><td></td><td></td>
                        {% else %}
                            <td>{{item.produit.libelle}}</td><td>{{item.produit.famille.libelle}}</td><td>{{ item.quantite }} KG</td>
                        {% endif %}
                    </tr>
                {% endfor %}

                </table>
            </div>
        </div>
        <div class="" style="width:50%;float:left">
            <h1>Composition des paniers</h1>
            {% for panier in paniers %}
                {% if panier.libelle is not null %}
                    <b>Panier :</b> {{ panier.libelle }}
                {% endif %}
                <br/>
                {% if panier.saison is not null %}
                    <b>Saison :</b> {{ panier.saison.libelle}}
                {% endif %}
                <br/>
                {% if panier.typePanier is not null %}
                    <b>Type panier :</b> {{ panier.typePanier.getLibelle}}
                {% endif %}
                <br/>
                <b>Prix panier :</b> {{ panier.prix}} €
                <br/>
                {% for panierproduit in  panier.panierproduit %}
                    <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Produit  : {{ panierproduit.produit.libelle }}
                    <br/>
                    <br/>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Quantité  : {{ panierproduit.quantite }} KG
                    <br/>
                {% endfor %}
                <br/>
                <br/>
            {% endfor %}
        </div>
        <div class="" style="width:50%;float:left">
            <h1>Création du type panier </h1>
            {{ form_start(form4) }}

            {{ form_end(form4) }}
        </div>
        <br/>
        <div class="" style="width:50%;float:left">
            <h1>Création d'un panier</h1>
            {{ form_start(form3) }}

            {{ form_end(form3) }}
            <br/><br/>
            <h1>Ajouter un produit à un panier</h1>

            {{ form_start(form) }}
                {{ form_label(form.panier) }}
                <br/>
                {{ form_widget(form.panier) }}
                <br/>
                {{ form_label(form.produit) }}
                <br/>
                {{ form_widget(form.produit) }}
                <br/>
                {{ form_label(form.quantite) }}
                <br/>
                {{ form_widget(form.quantite) }}
            {{ form_end(form) }}
            <br/>
            <br/>
            <h1>Retrait d'un panier</h1>
            {{ form_start(form2) }}

            {{ form_end(form2) }}
        </div>
    </div>
{% endblock %}