<!DOCTYPE HTML>
<!--
	Solarize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>AMAP</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{{asset('DataTables/datatables.min.css')}}"/>
		<link rel="icon" type="image/x-icon" href="{{ asset('icone_amap.ico') }}" />
		<link rel="stylesheet" href="{{asset('css/skel.css')}}" />
		<link rel="stylesheet" href="{{asset('css/style.css')}}" />
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="homepage">

		<!-- Header Wrapper -->
			<div class="wrapper style1">
                            
                        {% if app.session.get('amap') %}    
			<!-- Header -->
				<div id="header">
					<div class="container">

						<!-- Logo -->
							<h1><a href="#" id="logo">AMAP</a></h1>

						
                                                <!-- Nav -->
							<nav id="nav">
								<ul>
									{%if page_courante == 'default' %}
									<li class="active"><a href="{{path('amap_homepage')}}">ACCUEIL</a></li>
									{%else%}
									<li><a href="{{path('amap_homepage')}}">ACCUEIL</a></li>
									{%endif%}

									<!-- <li><a href="about.html">A PROPOS</a></li> -->

									{%if page_courante == 'panier' %}
									<li class="active"><a href="{{path('amap_panier')}}">PANIERS</a></li>
									{%else%}
									<li><a href="{{path('amap_panier')}}">PANIERS</a></li>
									{%endif%}

									{%if page_courante == 'produit' %}
									<li class="active"><a href="{{path('amap_produit')}}">PRODUITS</a></li>
									{%else%}
									<li><a href="{{path('amap_produit')}}">PRODUITS</a></li>
									{%endif%}

									{% if page_courante == 'acteur' %}
										<li class="active"><a href="{{path('amap_acteur')}}">ACTEURS</a></li>
									{%else%}
										<li><a href="{{path('amap_acteur')}}">ACTEURS</a></li>
									{%endif%}

									{%if page_courante == 'contrat' %}
									<li class="active"><a href="{{path('amap_contrat')}}">CONTRATS</a></li>
									{%else%}
									<li><a href="{{path('amap_contrat')}}">CONTRATS</a></li>
									{%endif%}

									{%if page_courante == 'amap' %}
									<li class="active"><a href="{{path('amap_amap')}}">AMAP</a></li>
									{%else%}
									<li><a href="{{path('amap_amap')}}">AMAP</a></li>
									{%endif%}

									{%if page_courante == 'stock' %}
									<li class="active"><a href="{{path('amap_stock')}}">STOCK</a></li>
									{%else%}
									<li><a href="{{path('amap_stock')}}">STOCK</a></li>
									{%endif%}

									{%if page_courante == 'entrepot' %}
									<li class="active"><a href="{{path('amap_entrepot')}}">ENTREPOT</a></li>
									{%else%}
									<li><a href="{{path('amap_entrepot')}}">ENTREPOT</a></li>
									{%endif%}
									
									{%if page_courante == 'livraison' %}
									<li class="active"><a href="{{path('amap_livraison')}}">LIVRAISON</a></li>
									{%else%}
									<li><a href="{{path('amap_livraison')}}">LIVRAISON</a></li>
									{%endif%}
                                                                </ul>
							</nav>
					</div>
				</div>
                                {% else %}
                                                                        
                                {% endif %}                                

			{% block body %}{% endblock %}
		<!-- Team -->
			<div class="wrapper style5">
				<section id="team" class="container">
					<header class="major">
						<h2>Equipe de developpement</h2>
						<span class="byline">Projet realisé par la société BF2M</span>
					</header>
					<div class="row">
						<div class="3u">
							<a href="#" class="image"><img src="/Colibri/web/images/deblond.jpg" alt=""></a>
							<h3>Marina Deblond</h3>
							<p>Developpeuse Web</p>
						</div>
						<div class="3u">
							<a href="#" class="image"><img src="/Colibri/web/images/berger.jpg" alt=""></a>
							<h3>Fabien Berger</h3>
							<p>Developpeur Web</p>
						</div>
						<div class="3u">
							<a href="#" class="image"><img src="/Colibri/web/images/louchart.jpg" alt=""></a>
							<h3>Marc Louchart</h3>
							<p>Developpeur Web</p>
						</div>
						<div class="3u">
							<a href="#" class="image"><img src="/Colibri/web/images/barbarin.jpg" alt=""></a>
							<h3>Baptiste Barbarin</h3>
							<p>Developpeur Web</p>
						</div>
						<div class="3u">
							<a href="#" class="image"><img src="/Colibri/web/images/couvreur.jpg" alt=""></a>
							<h3>Cedric Couvreur</h3>
							<p>Ingenieur Reseau</p>
						</div>
					</div>
				</section>
			</div>
		</div>

		<div id="admin">
            <a href="{{path('amap_admin')}}" class="color: white">Accès Admin</a>
		</div>

		<script src="{{asset('js/jquery.min.js')}}"></script>
		<script src="{{asset('js/jquery.dropotron.min.js')}}"></script>
		<script src="{{asset('js/skel.min.js')}}"></script>
		<script src="{{asset('js/skel-layers.min.js')}}"></script>
		<script src="{{asset('js/init.js')}}"></script>
		<script type="text/javascript" src="{{asset('DataTables/datatables.min.js')}}"></script>
		<script src="{{ asset('js/bootstrap.min.js') }}"></script>
		{% block javascripts %}{% endblock %}
	</body>
</html>