<!DOCTYPE HTML>
<!--
	Solarize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>AMAP</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />

		{% block stylesheet %}{% endblock %}
		<link rel="stylesheet" href="{{asset('css/skel.css')}}" />
		<link rel="stylesheet" href="{{asset('css/style.css')}}" />
		<link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{{asset('DataTables/datatables.min.css')}}"/>
		<link rel="icon" type="image/x-icon" href="{{ asset('icone_amap.ico') }}" />

		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header Wrapper -->
			<div class="wrapper style1">
   
                        {% if app.session.get('amap') %}     
			<!-- Header -->
				<div id="header">
					<div class="container">

						<!-- Logo -->
							<h1 id="logosite2"><a href="#" id="logosite">AMAP</a></h1>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									{%if page_courante == 'default' %}
									<li class="active"><a href="{{path('amap_homepage')}}">ACCUEIL</a></li>
									{%else%}
									<li><a href="{{path('amap_homepage')}}">ACCUEIL</a></li>
									{%endif%}

									<!-- <li><a href="about.html">A PROPOS</a></li> -->

									{%if page_courante == 'panier' %}
									<li class="active"><a href="{{path('amap_panier')}}">PANIERS</a></li>
									{%else%}
									<li><a href="{{path('amap_panier')}}">PANIERS</a></li>
									{%endif%}

									{%if page_courante == 'produit' %}
									<li class="active"><a href="{{path('amap_produit')}}">PRODUITS</a></li>
									{%else%}
									<li><a href="{{path('amap_produit')}}">PRODUITS</a></li>
									{%endif%}

									{% if page_courante == 'acteur' %}
										<li class="active"><a href="{{path('amap_acteur')}}">ACTEURS</a></li>
									{%else%}
										<li><a href="{{path('amap_acteur')}}">ACTEURS</a></li>
									{%endif%}

									{%if page_courante == 'contrat' %}
									<li class="active"><a href="{{path('amap_contrat')}}">CONTRATS</a></li>
									{%else%}
									<li><a href="{{path('amap_contrat')}}">CONTRATS</a></li>
									{%endif%}

									{%if page_courante == 'amap' %}
									<li class="active"><a href="{{path('amap_amap')}}">AMAP</a></li>
									{%else%}
									<li><a href="{{path('amap_amap')}}">AMAP</a></li>
									{%endif%}

									{%if page_courante == 'stock' %}
									<li class="active"><a href="{{path('amap_stock')}}">STOCK</a></li>
									{%else%}
									<li><a href="{{path('amap_stock')}}">STOCK</a></li>
									{%endif%}

									{%if page_courante == 'entrepot' %}
									<li class="active"><a href="{{path('amap_entrepot')}}">ENTREPOT</a></li>
									{%else%}
									<li><a href="{{path('amap_entrepot')}}">ENTREPOT</a></li>
									{%endif%}

									{%if page_courante == 'livraison' %}
									<li class="active"><a href="{{path('amap_livraison')}}">LIVRAISON</a></li>
									{%else%}
									<li><a href="{{path('amap_livraison')}}">LIVRAISON</a></li>
									{%endif%}
								</ul>
							</nav>
					</div>
				</div>
                            {% else %}
                                                                        
                            {% endif %}                                   
			</div>

		<!-- Main -->
			<div id="main" class="wrapper style4">

				<!-- Content -->
				<div id="content" class="container">
					{% block body %}{% endblock %}

				</div>
			</div>

	</body>
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="{{asset('js/jquery.min.js')}}"></script>
		<script src="{{asset('js/jquery.dropotron.min.js')}}"></script>
		<script src="{{asset('js/skel.min.js')}}"></script>
		<script src="{{asset('js/skel-layers.min.js')}}"></script>
		<script src="{{asset('js/init.js')}}"></script>
		<script type="text/javascript" src="{{asset('DataTables/datatables.min.js')}}"></script>
		<script src="{{ asset('js/bootstrap.min.js') }}"></script>
		{% block javascripts %}{% endblock %}
</html>
