{% extends 'admin.html.twig' %}

{% block body %}
    <div class="container">
        <div class="" style="width:100%;float:left">
            <h1>AMAPs</h1>
            <div class="" style="width:100%;float:left">
                <table class="table table-striped">
                    <th>Nom de l'AMAP</th>
					<th>Adresse</th>
                {% for item in listamap %}
					{% if item is not null %}
						<tr>
							<td>{{item.libelle}}</td>
							<td>{% if item.adresse is not null %}

									{% if item.adresse.numRue is not null %}
										{{ item.adresse.numRue }}
									{% endif %}

									{{ item.adresse.typeVoie }} {{ item.adresse.nomVoie }}, {{ item.adresse.cp }} {{ item.adresse.ville }}</td>

								{% endif %}
						</tr>
					{% endif %}
                {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}