{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="" style="width:100%;float:left">
            <h1>CONTRATS</h1>
            <div class="" style="width:100%;float:left">
                <table class="table table-striped">
                    <th>Producteur</th><th>Consommateur</th><th>Panier</th>
                {% for item in listcontrat %}
                    <tr>
                        <td>{{item.producteur.nom}}</td><td>{{item.consommateur.nom}}</td><td>{{ item.panier.libelle }} </td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
        <br/><br/>
        <div class="" style="width:100%;float:left">
            <h1>Créer un contrat</h1>
            {{ form_start(form) }}

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}