{% extends 'admin.html.twig' %}

{% block body %}
    <div class="container">
            <h1>AJOUTER UN NOUVEAU PRODUIT</h1>
            <br/>
            {{ form_start(form) }}
                {{ form_label(form.libelle) }}
                <br/>
                {{ form_widget(form.libelle) }}
                <br/>
                {{ form_label(form.famille) }}
                <br/>
                {{ form_widget(form.famille) }}
                <br/>
            {{ form_end(form) }}
            <br/>
            <br/>
    </div>
{% endblock %}
