{% extends 'admin.html.twig' %}

{% block body %}
    <div class="container">
            <h1>Liste des familles de produit</h1>
            <table class="table table-striped" >
        		<th>Famille</th>
                    {% for item in listFamille %}
        		<tr><td>{{ item.libelle }}</td></tr>
                    {% endfor %}
            </table>

        <div class="col-sm-6"> 
            <h1>Ajouter une famille de produit</h1></br>
            {{ form_start(form) }}
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-2" style="font-size: 20px;">
                            {{ form_label(form.libelle) }}
                        </div>
                        <div class="col-sm-8">
                            {{ form_widget(form.libelle, {'attr': { 'class': 'form-control'}}) }}
                        </div>
                    </div></br>

                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-4">
                            {{ form_label(form.ajouter) }}
                            {{ form_widget(form.ajouter, {'attr': { 'class': 'btn btn-primary'}}) }}
                        </div>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
