{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="" style="width:100%;float:left">
            <h1>Produits</h1>
            <div class="" style="width:100%;float:left">
                <table class="table table-striped">
                    <th>Nom du produit</th><th>Famille</th>
                {% for item in listProduit %}
                    <tr>
                        {% if item.famille is null %}
                            <td></td><td></td><td></td>
                        {% else %}
                            <td>{{item.libelle}}</td><td>{{item.famille.libelle}}</td>
                        {% endif %}
                    </tr>
                {% endfor %}

                </table>
            </div>
        </div>
        <br/><br/>
		<div class="" style="width:50%;float:left">
            <h1>LISTE FAMILLE DE PRODUIT</h1>
			<table class="table table-striped" >
				<th>Famille</th>
            {% for item in listFamille %}
				<tr><td>{{ item.libelle }}</td></tr>
            {% endfor %}
			</table>
        </div>
		<div class="" style="width:50%;float:left">
            <h1>LISTE SAISON </h1>
			<table class="table table-striped" >
				<th>Saison</th>
            {% for item in listSaison %}
				<tr><td>{{ item.libelle }}</td></tr>
            {% endfor %}
			</table>
        </div>
		<br/><br/>
        <div class="" style="width:50%;float:left">
            <h1>AJOUTER UNE FAMILLE DE PRODUIT</h1>
            {{ form_start(form3) }}
                {{ form_label(form3.libelle) }}
                <br/>
                {{ form_widget(form3.libelle) }}
            {{ form_end(form3) }}
        </div>
        <div class="" style="width:50%;float:left">
            <h1>AJOUTER UN NOUVEAU PRODUIT</h1>
            <br/>
            {{ form_start(form) }}
                {{ form_label(form.libelle) }}
                <br/>
                {{ form_widget(form.libelle) }}
                <br/>
                {{ form_label(form.famille) }}
                <br/>
                {{ form_widget(form.famille) }}
                <br/>
            {{ form_end(form) }}
            <br/>
            <br/>
        </div>

        <div class="" style="width:50%;float:left">
            <h1>CREER UNE SAISON</h1>
            {{ form_start(form4) }}
                {{ form_label(form4.libelle) }}
                <br/>
                {{ form_widget(form4.libelle) }}
            {{ form_end(form4) }}
        </div>
    </div>
{% endblock %}