{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="" style="width:50%;float:left">
            <h1>AJOUTER UN NOUVEAU PRODUIT</h1>
            <br/>
            {{ form_start(form, {'attr': {'name': 'formulaire1'}}) }}
                {{ form_label(form.libelle) }}
                <br/>
                {{ form_widget(form.libelle) }}
            {{ form_end(form) }}
            <br/>
            <br/>
        </div>
        <div class="" style="width:50%;float:left">
            <h1>AJOUTER UN PRODUIT AU STOCK</h1>
            <br/>
            {{ form_start(form2, {'attr': {'name': 'formulaire2'}}) }}
                {{ form_label(form2.produit) }}
                <br/>
                {{ form_widget(form2.produit) }}
                <br/>
                {{ form_label(form2.quantite) }}
                <br/>
                {{ form_widget(form2.quantite) }}
                <br/>
            {{ form_end(form2) }}
            <br/>
            <br/>
        </div>
        <h1>STOCK ACTUEL</h1>

        {% for item in stock %}
            <br/>
            {{ item.produit.libelle }}
            <br/>
            {{ item.quantite }} KG
            <br/>
        {% endfor %}
    </div>
{% endblock %}