{% extends 'base.html.twig' %}

{% block body %}
                <!-- Banner -->
				<div id="banner">
					<section class="container">
						<h2>AMAP</h2>
                                                <br/><br/>
						<span>Bienvenue sur le site de gestion des AMAP</span>
						<p>Ce site a été développé en partenariat avec la société BF2M.</p>
					</section>
				</div>

			</div>

		<!-- Section One -->
			<div class="wrapper style2">
				<section class="container">
					<div class="row double">
						
						<div class="12u">
							<div style="text-align:center">
                                                            <h3>Une agriculture, une ville, un panier</h3>
                                                            {% if app.user %}
                                                                {% if app.session.get('nameAmap') %}
                                                                    <p>Vous avez choisi l'amap de <b>{{ app.session.get('nameAmap') }}</b></p>
                                                                    <a href="{{path('amap_select_amap')}}" class="button">Changer d'amap</a>
                                                                {% else %}
                                                                    <p>Pour commencer la navigation veuillez selectionner l'AMAP sur laquelle vous souhaitez travailler.</p>
                                                                    <a href="{{path('amap_select_amap')}}" class="button">Choisir son amap</a>
                                                                {% endif %}
                                                            {% else %}
                                                                <p>Pour commencer la navigation veuillez vous inscrire ou vous connecter</p>
                                                                <a href="{{path('fos_user_registration_register')}}" class="button">S'inscrire</a>
                                                                <a href="{{path('fos_user_security_login')}}" class="button">Connexion</a>
                                                            {% endif %}
                                                        </div>
						</div>
					</div>
				</section>
			</div>
			
			<div class="wrapper style6">
				<section class="container">
					<header class="major">
						<h2>Objectif des AMAP</h2>
					</header>
					<p>Notre systeme de partenariat entre consommateur et producteur permet d'organiser des ventes sous forme de panier dont le prix est fixé de maniere equitable.</p>
				</section>
			</div>
<!--
			<div class="wrapper style4">
				<section class="container">
					<header class="major">
						<h2>Cras vitae metus aliNuam</h2>
						<span class="byline">pulvinar mollis. Vestibulum sem magna, elementum vestibulum arcu.</span>
					</header>
					<div class="row flush">
						<div class="4u">
							<ul class="special-icons">
								<li>
									<span class="fa fa-cogs"></span>
									<h3>Nulla luctus eleifend</h3>
									<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula pellentesque.</p>
								</li>
								<li>
									<span class="fa fa-wrench"></span>
									<h3>Etiam posuere augue</h3>
									<p>Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat liguala.</p>
								</li>
								<li>
									<span class="fa fa-leaf"></span>
									<h3>Fusce ultrices fringilla</h3>
									<p>Maecenas pede nisl, elementum eu, ornare ac, malesuada at, erat. Proin gravida orci porttitor.</p>
								</li>
							</ul>
						</div>
						<div class="4u">
							<ul class="special-icons">
								<li>
									<span class="fa fa-cogs"></span>
									<h3>Nulla luctus eleifend</h3>
									<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula pellentesque.</p>
								</li>
								<li>
									<span class="fa fa-wrench"></span>
									<h3>Etiam posuere augue</h3>
									<p>Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat liguala.</p>
								</li>
								<li>
									<span class="fa fa-leaf"></span>
									<h3>Fusce ultrices fringilla</h3>
									<p>Maecenas pede nisl, elementum eu, ornare ac, malesuada at, erat. Proin gravida orci porttitor.</p>
								</li>
							</ul>
						</div>
						<div class="4u">
							<ul class="special-icons">
								<li>
									<span class="fa fa-cogs"></span>
									<h3>Nulla luctus eleifend</h3>
									<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula pellentesque.</p>
								</li>
								<li>
									<span class="fa fa-wrench"></span>
									<h3>Etiam posuere augue</h3>
									<p>Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat liguala.</p>
								</li>
								<li>
									<span class="fa fa-leaf"></span>
									<h3>Fusce ultrices fringilla</h3>
									<p>Maecenas pede nisl, elementum eu, ornare ac, malesuada at, erat. Proin gravida orci porttitor.</p>
								</li>
							</ul>
						</div>
					</div>
				</section>
			</div>
-->
{% endblock %}