{% extends 'base.html.twig' %}

{% block body %}
    <!-- Banner -->
	<div id="banner">
		<section class="container">
			<h2>AMAP</h2><br/><br/>
			<span>Bienvenue sur le site de gestion des AMAP</span>
			<p>Ce site a été développé en partenariat avec la société BF2M.</p>
		</section>
	</div></div>

    <div class="container">
        <div class="col-sm-3"></div>
        <div class="col-sm-6"><br/>
            <div class="" style="width:100%;float:left">
                <center><h1>Selectionnez une AMAP</h1></center><br/>
                {{ form_start(form) }}
	                <div class="form-group">
	                    <div class="row">
	                        <div class="col-sm-2" style="font-size: 20px;">
	                            {{ form_label(form.amap) }}
	                        </div>
	                        <div class="col-sm-8">
	                            {{ form_widget(form.amap, {'attr': { 'class': 'form-control'}}) }}
	                        </div>
	                    </div></br>

	                    <div class="row">
	                        <div class="col-sm-3"></div>
	                        <div class="col-sm-4">
	                            {{ form_label(form.ajouter) }}
	                            {{ form_widget(form.ajouter, {'attr': { 'class': 'btn btn-success'}}) }}
	                        </div>
	                    </div>
	                </div>
                {{ form_end(form) }}
            </div>
        </div>
	</div><br/>
{% endblock %}