{% extends 'admin.html.twig' %}

{% block body %}
    <div class="container">
        <div class="" style="width:100%;float:left">
			<h1>Liste des livraisons par contrat</h1>
			<table id="tableau" class="table table-striped">
				<thead>
					<tr>
						<th>ID Contrat</th>
						<th>Consommateur</th>
						<th>Producteur</th>
						<th>Panier</th>
						<th>Date de livraison</th>
						<th>Livraison effectué ?</th>
					</tr>
				</thead>
				<tfoot>
					<tr>
						<th>ID Contrat</th>
						<th>Consommateur</th>
						<th>Producteur</th>
						<th>Panier</th>
						<th>Date de livraison</th>
						<th>Livraison effectué ?</th>
					</tr>
				</tfoot>
				<tbody>
					{% for contrat in listContrat %}

							{% for livraison in contrat.livraisons %}
							<tr>

						<td >{{ contrat.id }}</td>
						<td >{{ contrat.consommateur.nom}}</td>
						<td >{{ contrat.producteur.nom}}</td>
						<td >{{ contrat.panier.libelle }}</td>

								<td>{{livraison.dateLivraison|date('d-m-Y H:i:s')}}</td>
								{% if livraison.estLivree %}
									<td>OUI</td>
								{% else %}
		                                                    <td>NON</td>
								{%endif%}
							</tr>
							{% endfor %}
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	<script>
	$(document).ready(function() {
		// Setup - add a text input to each footer cell
		$('#tableau tfoot th').each( function () {
			var title = $(this).text();
			$(this).html( '<input type="text" placeholder="Rechercher '+title+'" />' );
		} );

		// DataTable
		var table = $('#tableau').DataTable({
				"language":{
					"search": "Recherche",
					"lengthMenu": "Afficher _MENU_ entrées par page",
					"zeroRecords": "Aucun élément trouvé ! Désolé...",
					"info": "Page _PAGE_ sur _PAGES_",
					"infoEmpty": "Les entrées ne sont pas disponibles",
					"paginate":{
						"previous": "Précédent",
						"next": "Suivant"
					},
					"infoFiltered": "(filtré sur _MAX_ entrées)"
				}
		});

			// Apply the search
			table.columns().every( function () {
				var that = this;

				$( 'input', this.footer() ).on( 'keyup change', function () {
					if ( that.search() !== this.value ) {
						that
							.search( this.value )
							.draw();
					}
				} );
			} );
	} );
</script>
{% endblock %}